<div><mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ 'panel.administracion' | translate }}</h1>
    <span class="menu-spacer"></span>
    <div class="divNavBar">
      <div class="navBarItemsContainer">
        <div class="divNavBarItems">
          <div class="divNavBarItem"><a mat-button (click)="navigateToProducts()"><span class="upperMenuText"> {{ 'productos' | translate }} </span></a></div>
          <div class="divNavBarItem"><a mat-button (click)="navigateToCustomers()"> <span class="upperMenuText">{{ 'clientes' | translate }} </span></a></div>
          <div class="divNavBarItem"><a mat-button (click)="navigateToOrders()"> <span class="upperMenuText">{{ 'pedidos' | translate }} </span></a></div>
        </div>
      </div>
      <div class="divNavBarExit">
        <div class="navBarExitItem">
          <a mat-button [routerLink]="'/accounts'"><span class="upperMenuText"> {{ 'salir' | translate }} </span></a>
        </div>
        
        <div class="navBarExitItem">
            <mat-select [(value)]="selectedLanguage" (selectionChange) = "setLanguageSelected($event.value)">
              <mat-option *ngFor="let language of languages" [value]="language.key">
                {{language.value}}
              </mat-option>
            </mat-select>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="contenedorBody" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
</div>