.titleContainer{
    margin-bottom: 2%;
}

.title{
    text-align: center;
}

:host ::ng-deep .mat-form-field{
    margin-right: 5%;
}

.button-row{
    text-align: right;
    margin-top: 5%;
}
.buttonCancel{
    margin-right: 1%;
    background: gray;
}

.buttonAdd{
    margin-right: 1%;
}

.divRadioGroup{
    display: inline-block;
    width: 20%;
}

.divRadioGroup .mat-radio-group{
    margin-left: 2%;
}

.radio-button-left{
    margin: 6%;
}

.input-compose{
    width: 85%;
}

.textAreaBig{
    width: 45%;
}

.textAreaLittle{
    width: 20%;
}

.photoButtons{
    text-align: center;
}

.imgProduct{
    width: 100%;
}

.columns{
    width: 24%;
    border: 1px solid gray;
    margin: 2px;
    padding: 5px;
}

.divProgressBarPhoto{
    text-align: center;
    margin-bottom: 5%;
}

.progressBarPhoto{
    width: 80%;
    height: 3em;
}

.containerDivsPhotos{
    display: inline-flex;
}

.divUploadButtons {
    margin-top: 5%;
}

.containerDivVitamins{
    display: inline-flex;
}

.iconTableActions{
    width: 50%;
    transform: translate(50%, 35%);
}

.actionIcon{
    color: white;
    cursor: pointer;
}

.selectFileInput{
    width: 47%;
}

.containerFlavoursSection{
    display: inline-flex;
    width: 100%;
}

.divSelectFlavours{
    width: 25%;
    background: #7b1fa2;
    padding: 1%;
}

.divChipsFlavours{
    width: 60%;
    margin-left: 5%;
}