<div>
    <mat-card>
        <form [formGroup]="customerForm">
            <h3>{{ 'datos.usuario' | translate }}</h3>
            <mat-form-field>
                <mat-label>{{ 'nombre' | translate }}</mat-label>
                <input matInput placeholder="{{ 'nombre' | translate }}" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'apellido' | translate }}</mat-label>
                <input matInput placeholder="{{ 'apellido' | translate }}" formControlName="lastname">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'usuario' | translate }} *</mat-label>
                <input matInput placeholder="{{ 'usuario' | translate }}" formControlName="user">
            </mat-form-field>
            <mat-form-field>   
                <mat-label>{{ 'nacimiento' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'email' | translate }} *</mat-label>
                <input matInput placeholder="{{ 'email' | translate }}" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'telefono' | translate }}</mat-label>
                <input matInput placeholder="{{ 'telefono' | translate }}" formControlName="telephone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'genero' | translate }} *</mat-label>
                <mat-select formControlName="gender" [compareWith]="compareFn">
                  <mat-option *ngFor="let gender of genders" [value] = "gender">
                    {{gender.nombre}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <p></p>
            <h3>{{ 'direccion.usuario' | translate }}</h3>
            <mat-form-field>
                <mat-label>{{ 'destinatario' | translate }}</mat-label>
                <input matInput placeholder="{{ 'destinatario' | translate }}" formControlName="addressee">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'calle' | translate }}</mat-label>
                <input matInput placeholder="{{ 'calle' | translate }}" formControlName="street">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'piso' | translate }}</mat-label>
                <input matInput placeholder="{{ 'piso' | translate }}" formControlName="flat">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'codigo.postal' | translate }}</mat-label>
                <input matInput placeholder="{{ 'codigo.postal' | translate }}" formControlName="postalCode">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'localidad' | translate }}</mat-label>
                <input matInput placeholder="{{ 'localidad' | translate }}" formControlName="locality">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'datos.adicionales' | translate }}</mat-label>
                <input matInput placeholder="{{ 'datos.adicionales' | translate }}" formControlName="additionalData">
            </mat-form-field>

            <div class="button-row">
                <button mat-flat-button class="buttonCancel" routerLink="/list">{{ 'cancelar' | translate }}</button>
                <button mat-flat-button color="primary" (click)="updateCustomer()"  [disabled]="!customerForm.valid">{{ 'guardar' | translate }}</button>
            </div>
        </form>
    </mat-card>
    
</div>
